body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.1rem;
    line-height: 1.3em;
    margin: 0;
}

header {
    display: flex;
    min-height: 70px;
    background: $color-principal;
    box-shadow: 1px 1px 8px black;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;

    .logo {
        display: flex;
        align-items: flex-end;
        padding: 0px 40px;

        .logo-img {
            height: 50px;
        }

        .nombre-marca {
            font-family: 'Lobster', cursive;
            font-size: 30px;
            text-shadow: 0px 3px 10px rgb(255, 255, 255);
        }
    }

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    nav {
        padding-right: 40px;

        a {
            font-weight: 600;
            padding-right: 10px;
            transition: 0.2s;
        }

        a:hover {
            color: rgb(255, 255, 255);
            transition: 0.2s;
        }
    }
}


